@page
@model AboutModel
@{
	ViewData["Title"] = "Student Body Statistics";
}

<h2>Strudent Body Statistics</h2>

<table>
	<tr>
		<th>
			Enrollment Date
		</th>
		<th>
			Students
		</th>
	</tr>

	@foreach (var item in Model.Student)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.EnrollmentDate)
			</td>
			<td>
				@item.StudentCount
			</td>
		</tr>
	}
</table>
<br/>
<table>
	<tr>
		<th>
			Student
		</th>
		<th>
			First Enrollment
		</th>
	</tr>

	@foreach (var item in Model.Student2)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.FullName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MinDate)
			</td>
		</tr>
	}
</table>